@mixin simple-animation($time) {
  -webkit-transition:   all $time;
  -moz-transition:      all $time;
  -ms-transition:       all $time;
  -o-transition:        all $time;
  transition:           all $time;
}

@mixin flat-animation($time) {
  -webkit-transition:   all $time linear;
  -moz-transition:      all $time linear;
  -ms-transition:       all $time linear;
  -o-transition:        all $time linear;
  transition:           all $time linear;
}