$triangle_color : #fafafa;

#shop-header {
  position: relative;

  background: 
              url(/assets/shop/shop-header-pattern.png) repeat,
              url(/assets/shop/shop-header.jpg) no-repeat top center;
  height: 530px;
  background-color: #313131;
  color: white;
  @include opacity(0);

  a.logo {
    margin: 30px 0 60px 0;
    display: block;
  }

  h1.huge {
    font-size: 62px;
    color: $base_yellow;
    line-height: 75px;
    font-family: "light", sans-serif;
  }

  a.discover-now {
    color: white;
    display: block;
    font-family: "light", sans-serif;
    text-decoration: none;
    font-size: 25px;
    margin-top: 25px;
    position: relative;

    @include opacity(.8);
    @include flat-animation(.18s);

    &:hover{
      @include opacity(1);
    }

    span {
      background: url(/assets/shop/shop-icon.png) no-repeat;
      
      -webkit-background-size: 100%;
      background-size: 100%;

      width: 25px;
      height: 25px;
      display: inline-block;
      position: absolute;
      top:2px;
      left: 165px;
    }
  }

  #brands-ticker {
    text-align: center;
    position: absolute;
    width: 960px;
    bottom: 50px;

    @include opacity(.7);
    @include simple-animation(.5s);

    &:hover{
      @include opacity(.9);
    }

  }
}

body.shop #main-menu {
  .logo {
    @include opacity(0);
  }
}

.page-navigation {
  height: 85px;

  ul {
    li {
      display: inline-block;
      line-height: 80px;
      margin-right: 50px;
      position: relative;

      span {
        border-right: 1px solid #ddd;
        height: 40px;
        display: inline-block;
        position: absolute;
        top: 22px;
        right: -29px;
      }

      a {
        text-transform: uppercase;
        font-size: 24px!important;
        text-shadow: 1px 1px #ccc;
        color: #333;
        text-decoration: none;
        font-family: "light", sans-serif;
        @include simple-animation(.18s);
        
        &:hover{
          color: $base_yellow;
        }

        &.selected {
          color: $base_yellow;
        }
      }
    }
  }
}

#shop-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
}

#shop-main-slider {
  height: 380px;
  width: 2894px;
  z-index: 900;

  img {
    border:1px solid #f2f2f2;
    float: left;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }
}

#shop-main-slider-wrapper {
  width: 960px;
  height: 380px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 1000;

  ul {
    position: absolute;
    bottom: 7px;
    width: 960px;

    li {
      display: inline-block;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      a {
        display: block;
        width: 12px;
        height: 12px;
        background: #999;

        @include border-radius(50%);
        @include simple-animation(.2s);
        
        &:hover, &.selected {
          @include opacity(.5);
        }
      }
    }
  }
}

#flexible-grid {
  padding-top: 22px;
  position: relative;
  width: 960px;

  .items-wrapper{
    &.condensed{
      margin-left: 240px;  
    }
  }
    
  .quarter-column {
    width: 320px;
    float: left;
    /*height: 370px;*/
    margin-bottom: 20px;
    @include simple-animation(.5s);

    &.filter {
      float: left;
      overflow: hidden;
      height: auto;
      width: 0;
      @include opacity(0);
      @include simple-animation(.5s);
      
      &.condensed {
        width: 239px;
        margin-right: 1px;
        @include opacity(1);
      }
      
      .latest-products-wrapper{
        padding: 30px 20px 10px;
        background: $base_yellow;
        margin-bottom: 2px;
        
        h2{
          color: #FFFFFF;
          font-size: 20px;
          font-family: "bold", sans-serif;
          margin-bottom: 30px;
          text-align: center;
        }
        
        .product-count{
          background-color: #FFD46E;
          font-size: 18px;
          font-family: "reqular", sans-serif;
          text-align: center;
          color: #B08622;
          padding: 5px;
          border-radius: 3px;
          margin-bottom: 20px;
        }
        
        .recent-categories{
          list-style: none;
          border-top: 1px solid #FFFFFF;
          li{
            a{
              background: url('/assets/icons/close-w.png') no-repeat center right 5px;
              display: block;
              text-decoration: none; 
              color: #FFFFFF;
              font-size: 14px;
              padding: 10px 5px;
              font-family: "semibold", sans-serif;
              border-bottom: 1px solid #FFFFFF;
              
              @include simple-animation(.5s);

              &:hover {
                @include opacity(.7);
              }
            }
          }
        }
      }
      
      /** hierarchy-wrapper start*/
      .hierarchy-wrapper{
        border: 2px solid #E1E1E1;
        .refine-wrapper{
          
          .refine{
            margin-right: 55px;
            border-right: 2px solid #E1E1E1;
            padding: 17px 0px 17px 15px;
            font-family: "bold", sans-serif;
            font-size: 14px;
            color: $base_yellow;
          }
          
          .close-filter{
            float: right;
            width: 55px;
            
            a{
              display: block;
              padding: 14px 17px;
              
              @include simple-animation(.5s);
              
              &:hover {
                @include opacity(.7);
              }
              
              img{
                width: 20px;
                height: 20px;
              }
            }   
          }
        }
        
        .quick-filters{
          
          
        }
        
        /*section start*/
        .section{
          border-top: 2px solid #E1E1E1;
          .title{
            margin-bottom: 1px;
            a{
              display: block;
              padding: 15px 15px;
              text-decoration: none;
              font-family: "semibold", sans-serif;
              font-size: 18px;
              color: #333333;
              background: #F2F2F2 url("/assets/icons/arrow-down-yellow.png") no-repeat center right 15px;
              border-bottom: 2px solid #E1E1E1;
              
              &.extended{
                background: #F2F2F2 url("/assets/icons/arrow-up-yellow.png") no-repeat center right 15px;
              }
            }
          }
          /* dropdown-menu start */
          .dropdown-menu{
            padding-left: 15px;
            background-color: #FFFFFF;
            
            &.root{
             padding-top: 10px;
             padding-bottom: 10px; 
             /*display: none;*/
             width: 220px;
             height: 200px;
             overflow: auto;
            }
            
            &.extended{
              display: none;
            }
            
            li{
              .dropdown-menu{
                padding-left: 20px;
                
              }
              
              a{
                display: block;
                text-decoration: none;
                padding: 5px 0px;
                color: #333333;
                font-family: "regular", sans-serif;
                font-size: 14px;
                
                b{
                  font-family: "bold", sans-serif;
                }
                
                @include simple-animation(.5s);

                &:hover {
                  @include opacity(.7);
                }
              }
              
            }
          }/* dropdown-menu end*/
        }/*section end*/
      }/* hierarchy-wrapper end*/
    }

    &.condensed {
      width: 240px;
    }

    .shop-item-wrapper {
      position:relative;
      width: 238px;
      margin: 0 auto;
      /*height: 370px;*/
      overflow:hidden;
      background: $triangle_color;
      text-transform: uppercase;
      z-index: 100;
      
      &.extended{
        @include opacity(.3);
      }

      .triangle {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 13px 0 0 13px;
        border-color: transparent transparent transparent $triangle_color;

        position: absolute;
        top: 306px;
        z-index: 200;
        
 
      }

      a {
        text-decoration: none;
        display: block;
        @include simple-animation(.5s);

        &:hover {
          @include opacity(.7);
        }
        
      }

      img {
        width: 238px;
        height: 320px;
      }

      h5 {
        font-size: 11px;
        margin: 2px 0 3px 0;
        color: #333;
        font-family: "light", sans-serif;
      }

      h4 {
        font-size: 14px;
        margin-bottom: 3px;
        color: #222;
      }

      h3 {
        margin-bottom: 0;
        color: $base_orange;
      }
    }
  }
  
  .items-row {
    height: 390px;
    position:relative;
  }
  
  .item-description {
    margin: 1px 0;
    background: #f8f8f8;
    /*top: -70px;*/
    position: relative;
    z-index: 200;
    display: none;
    padding: 0px 41px 20px 41px;
    /*height: 320px;*/
    float: left;
    
    &.condensed{
      padding-left: 0px;
    }
    
    .close-icon{
      width: 20px;
      height: 20px;
      position: absolute;
      right: 41px;
      
      @include simple-animation(.5s);

      &:hover {
        @include opacity(.7);
      }
      
      img{
        width: 20px;
        height: 20px;
        border: 0;
      } 
    }
   
   .image-wrapper{
      float: left;
      width: 320px;
      border: 2px solid #FFFFFF;
      margin-right: 5px;
      img{
        width: 320px;
      }
    }
    
    .thumbs-wrapper{
      float: left;
      width: 60px;
      padding-top: 2px;
      padding-right: 20px;
      img{
        width: 60px;
        height: 80px;
        border: 0;
        
      }
    }
    
    .description-wrapper{
      margin-left: 410px;
      h3{
        height: auto;
        font-size: 20px;
        font-family: "bold",sans-serif;
        color: #666666;
      }
      
      h4{
        font-size: 16px;
        font-family: "bold",sans-serif;
        color: #666666;
      }
      
      p{
        margin-bottom: 20px;
        font-size: 14px;
        font-family: "semibold",sans-serif;
        color: #666666;
      }
      
      .price{
        font-size: 20px;
        color: $base_yellow;
        margin-bottom: 40px;
        font-family: "bold",sans-serif;
        
      }
      
      .purchase-button{
        display: block;
        width: 290px;
     
        background: url(/assets/icons/arrow-right1.png) no-repeat 280px center;
        background-color: $base_yellow;
        color: #FFFFFF;
        font-size: 18px;
        text-decoration: none;
        padding: 10px 10px;
        margin-bottom: 15px;
        
        font-family: "bold",sans-serif;
        
        @include simple-animation(.5s);

        &:hover {
          @include opacity(.7);
        }

      }
      
      .other-buttons{
        a{
          display: block;
          float: left;
          width: 128px;
          margin-right: 10px;
          color: #A2A2A2;
          text-align: center;
          border: 1px solid #CCCCCC;
          padding: 5px 10px;
          font-size: 14px;
          text-decoration: none;
          font-family: "bold",sans-serif;
          background-color: #E7E7E7;
          
          @include simple-animation(.5s);

          &:hover {
            @include opacity(.7);
          }
          
          &.last{
            margin-right: 0px;
          }
        }
      }
      
    }
   
  }
  
  #fiter-toggle {
    background: #eee url(/assets/shop/filter-icon.png) no-repeat center center;
    -webkit-background-size: 20px;
    background-size: 20px;

    width: 60px;
    height: 49px;
    border: 1px solid $base_orange;
    position: absolute;
    top: 22px;
    left: -70px;
    cursor: pointer;

    @include simple_animation(.3s);
    @include border-radius(2px);

    &:hover {
      background-color: white;
      border: 1px solid lighten($base_orange, 20%);
    }
  }

}





