<% content_for :after_scripts do %>
  
  <style>
  
  </style>
  <script>
    $(function(){
      	CC.load_background("discover-background-gray-to-white.jpg");
		
		search_all();
		
		$('#keyword').change(function(){
			search_all();
		});
	});
	
	function search_all(){
		var keyword = $('#keyword').val();
		$.ajax({
	        url: "/search/search_all",
	    	type: "POST",
	    	data: {'keyword':keyword},
	    	cache: false,
	    	success: function(data){
	          console.log(data)
	          $('#search-result-wrapper').html(data);
	    	},
	    	error: function(XMLHttpRequest, textStatus, errorThrown){
	          console.log(XMLHttpRequest);
	        }
	  	});
	}
    
  </script>

<% end %>

<div id="page-title">
	<h4>Search</h4>
</div>

<div id="search-bar">
	<input type="text" name="keyword" id="keyword" class="keyword">
</div>

<div id="search-result-wrapper">
	
</div>

<div style="clear: both;"></div>


