<% content_for :after_scripts do %>
  
  <style>
  
  </style>
  <script>
    $(function(){
      CC.load_background("discover-background-gray-to-white.jpg");
      
      $('#keyword').change(function(){
		search_products();
	  });
      
      search_products();


    });
    
    function search_products(){
		var keyword = $('#keyword').val();
		$.ajax({
	        url: "/search/search_products",
	    	type: "POST",
	    	data: {'keyword':keyword},
	    	cache: false,
	    	success: function(data){
	          console.log(data)
	          $('#search-result-wrapper').html(data);
	    	},
	    	error: function(XMLHttpRequest, textStatus, errorThrown){
	          console.log(XMLHttpRequest);
	        }
	  	});
	  }
    
    function add_wishlist(product_id){
      $.ajax({
        url: "/user/add_wishlist",
    	type: "POST",
    	data: {'product_id':product_id},
    	cache: false,
    	success: function(data){
          console.log(data)
          alert(data.message);
    	},
    	error: function(XMLHttpRequest, textStatus, errorThrown){
          console.log(XMLHttpRequest);
        }
      });
    }
    
    function pageview(brand_id, page_url){
      
      $.ajax({
        url: "/user/visit_page",
    	type: "POST",
    	data: {'brand_id':brand_id, 'page_url':page_url },
    	cache: false,
    	success: function(data){
          console.log(data)
          if(data.status == 'success'){
            //window.open(page_url);
          }
    	},
    	error: function(XMLHttpRequest, textStatus, errorThrown){
          console.log(XMLHttpRequest);
        }
      });
      
      return true
    }
  </script>
  
  <script src="/assets/jquery.lazyload.js?v=1.8.4" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
      $(function() {
          $("img").lazyload();
      });
  </script>

<% end %>

<div id="page-title">
	<h4>Search</h4>
</div>

<div id="search-bar">
	<input type="text" name="keyword" id="keyword" class="keyword" value="<%=@keyword %>">
</div>


<div id="search-result-wrapper">
	
</div>

<div style="clear: both;"></div>


