<h1>New Article</h1>
<form class="form-horizontal" enctype="multipart/form-data" action="/admin/brands/<%= @brand.id %>/initiatives/<%= @initiative.id %>/articles" method="post">
  <%= erb :'admin/articles/_form' %>
</form>
