<h1>Edit initiative</h1>
<form class="form-horizontal" enctype="multipart/form-data" action="/admin/brands/<%= @brand.id %>/initiatives/<%= @initiative.id %>" method="post">
  <%= erb :'admin/initiatives/_form' %>
</form>
