.signin-wrapper{
	padding-top: 100px;
	padding-bottom: 100px;
	margin: auto;
	width: 700px;
	h4{
		color: #666666;
        font-family: "light", sans-serif;
        font-size: 40px;
	}
	
	.signin-form{
		width: 480px;
		float: left;
		min-height: 200px;
		margin-top: 20px;
		label{
			color: #666666;
	        font-family: "regular", sans-serif;
	        font-size: 16px;
	        
	        &.error{
	        	color: $base_red;
	        }
		}
		
		div.text-wrapper{
			margin-bottom: 20px;
			margin-top: 10px;
			
			input{
				height: 40px;
				border: 0px;
				width: 400px;
				color: #666666;
		        font-family: "regular", sans-serif;
		        font-size: 20px;
		        padding-left: 10px;
		        padding-right: 10px;
			}
		}
		
		.links-wrapper{
			margin-top: 10px;
			a{
				text-decoration: none;
				color: #666666;
		        font-family: "semibold", sans-serif;
		        font-size: 12px;
		        
		        &.forgot-password-link{
		        	margin-right: 30px;
		        	padding-left: 20px;
		        	background: url('/assets/icons/question-mark-round-brown.png') no-repeat left center;
		        }
		        
		        &:hover{
		        	color: $base_red;
		        }
			}
			
			.checkbox{
				vertical-align: middle;
			}
		}
	}
	
	.social-buttons{
		margin-left: 480px;
		min-height: 200px;
		padding-top: 45px;
		div.button-wrapper{
			margin-bottom: 20px;
			cursor: pointer;
		}
	}
	
	.action-buttons{
		background-color: #FFFFFF;

		padding: 15px 15px;
		a{
			float: left;
			display: block;
			text-decoration: none;
			color: #666666;
	        font-family: "regular", sans-serif;
	        font-size: 14px;
			
			&.no-account-link{
				margin-top: 10px;

			}
			
			&.no-account-button{
				margin-left: 120px;
			}
			
			&.sign-in-button{
				float:right;
			}
		}
	}
}