<% content_for :after_scripts do %>
  
  <style>
  
  </style>
  <script>
    $(function(){
      CC.load_background("backend-background-gray-to-white.jpg"); 
    });
  </script>

<% end %> 
<div id="breadcrum" class="container_24">
  <nav class="discover">
    <a href="#">Dahboard</a> /
    <a href="#" class="selected">Levis</a>
  </nav>
</div>

<div id="dashboard-wrapper">
	
	<!--leftnav wrapper start-->
	<div class="leftnav-wrapper">
		<!--brand log start -->
		<div class="brand-logo">
			<img src="/assets/backend/levis-logo.png">
		</div>
		<!--brand log end-->
		
		<div class="leftnav">
			<ul>
				<li><a href="/backend" class="active">Dashboard</a></li>
				<li><a href="/backend/community">View Community</a></li>
				<li><a href="/backend/message">Message Group</a></li>
				<li><a href="">Feature Product</a></li>
				<li><a href="">Edit Brand Page</a></li>
				<li><a href="">Add/Edit Inititatives</a></li>
				<li><a href="">Settings</a></li>
			</ul>
		</div>
		<div class="leftnav-bottom-border"></div>
		
	</div>
	<!--leftnav wrapper ent-->
	
	<!--content wrapper start-->
	<div class="content-wrapper">
		<div class="section">
			<div class="icon">
				<img src="/assets/backend/icons/message-icon.png">
			</div>
			<div class="title">Message Center</div>
			<div class="content">
				<img src="/assets/backend/icons/refresh.png"><span>112</span>
			</div>
		</div>
		
		<div class="section">
			<div class="icon">
				<img src="/assets/backend/icons/growing-icon.png">
			</div>
			<div class="title">Growing</div>
			<div class="content">
				<div class="top">
					<span>WaterLess</span>
					<img src="/assets/backend/icons/plus-white-round-fill.png">
				</div>
				<div class="bottom">
					<span>Made In USA</span>
					<img src="/assets/backend/icons/minus.png">
				</div>	
			</div>
		</div>
		
		<div class="section">
			<div class="icon">
				<img src="/assets/backend/icons/conversions.png">
			</div>
			<div class="title">Conversions</div>
			<div class="content">
				<span>35%</span>
			</div>
		</div>
		
		<div class="section">
			<div class="icon">
				<img src="/assets/backend/icons/fan-icon.png">
			</div>
			<div class="title">Fan Base</div>
			<div class="content">
				<img src="/assets/backend/icons/new.png"><span>209</span>
			</div>
		</div>
		
		<div class="section">
			<div class="icon">
				<img src="/assets/backend/icons/pageviews-icon.png">
			</div>
			<div class="title">Pageviews</div>
			<div class="content">
				<span>7022</span>
			</div>
		</div>
		
		<div class="section">
			<div class="icon">
				<img src="/assets/backend/icons/average-time.png">
			</div>
			<div class="title">Average Time</div>
			<div class="content">
				<span>6'</span>
			</div>
		</div>
	</div>
	<!--content wrapper end-->
</div>

