/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

::-webkit-scrollbar {
	  width: 15px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
	  background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
	  background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
	  background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
	  background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.jspTrack {
  background: none repeat scroll 0 0 #FFFFFF !important;
  position: relative;
}

.jspDrag {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.35) !important;
  cursor: pointer;
  left: 0;
  position: relative;
  top: 0;
}

.jspVerticalBar {
    background: none repeat scroll 0 0 red;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px !important;
}