<h1>New Brand</h1>
<form class="form-horizontal" enctype="multipart/form-data" action="/admin/brands/create" method="post">
	<fieldset>
	  <div class="control-group">
	    <label class="control-label" for="name">Product Family URL</label>
	    <div class="controls">
	      <input id="brand-name" type="text" class="input-xlarge" name="site_url" value="http://us.levi.com/family/index.jsp">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="name">Product Detail URL</label>
	    <div class="controls">
	      <input id="brand-name" type="text" class="input-xlarge" name="site_url" value="http://us.levi.com/product/index.jsp">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="name">Category ID</label>
	    <div class="controls">
	      <input id="brand-slug" type="text" class="input-xlarge" name="category_id" value="">
	    </div>
	  </div>
	</fieldset>
	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">Scrap</button>
	</div>

</form>
