<% content_for :after_scripts do %>
  
  <script>
    $(function(){
      CC.load_background("discover-background.jpg");
    });
  </script>

<% end %>


<div id="breadcrum" class="container_24">
  <nav class="discover">
    <a href="/discover">Discover</a> /
    <a class="selected" href="/discover/by-brand">By Brand</a>
  </nav>
</div>

<div class="grid_24 alpha omega page-header">
  <h1>Discover by Brand</h1>
</div>

<div id="intro-splash" class="clearfix">
  
  <div class="intro-section blue">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-water.png" alt="">
      <p>28% water savings with the latest energy trends stablished by the brands</p>
    </div>
    <div class="right-container">
      <p>Water conservation encompasses the policies, strategies and activities to manage fresh water as a sustainable resource to protect the water environment and to meet current and future human demand.</p>
      <p>Population, household size and growth and affluence all affect how much water is used.</p>
    </div>
  </div>
  
  <div class="intro-section yellow">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-energy.png" alt="">
      <p>48% less energy involved on elaboration processes and manufacturing</p>
    </div>
    <div class="right-container">
      <p>Efficient energy use, sometimes simply called energy efficiency, is the goal to reduce the amount of energy required to provide products and services.</p>
      <p> Compact fluorescent lights use one-third the energy of incandescent lights and may last 6 to 10 times longer. Improvements in energy efficiency are most often achieved by adopting a more efficient technology or production process.</p>
    </div>
  </div>

  <div class="intro-section orange">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-materials.png" alt="">
      <p>in average 3 new materials are used in new products in a year</p>
    </div>
    <div class="right-container">
      <p>3right - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis repellat labore et officia itaque sit delectus suscipit aliquid quisquam molestiae unde quasi voluptas nisi expedita excepturi exercitationem minima incidunt accusantium!</p>
    </div>
  </div>

  <div class="intro-section dark-blue">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-philantrophy.png" alt="">
      <p>16% destination, Africa</p>
      <p>7% destination, Asia</p>
    </div>
    <div class="right-container inverse">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis repellat labore et officia itaque sit delectus suscipit aliquid quisquam molestiae unde quasi voluptas nisi expedita excepturi exercitationem minima incidunt accusantium!</p>
    </div>
  </div>
</div>


<div class="grid_6 alpha filters">
  <a class="button button-filters blue" href="#">Water</a>
</div>
<div class="grid_6 filters">
  <a class="button button-filters yellow" href="#">Energy</a>
</div>
<div class="grid_6 filters">
  <a class="button button-filters orange" href="#">Materials</a>
</div>
<div class="grid_6 filters last">
  <a class="button button-filters darkblue" href="#">Philanthropy</a>
</div>

<div class="clearfix"></div>

<div class="content-grid clearfix">

  <div class="subgrid-two-one">
    <div class="two">
      <div class="item grid one-third alpha" data-url="/discover/by-brand/alternative">
        <div class="tags">
          <ul>
            <li><a class="tag w" href="#">W</a></li>
            <li><a class="tag e" href="#">E</a></li>
            <li><a class="tag m" href="#">M</a></li>
            <!-- <li><a class="tag p" href="#">P</a></li> -->
          </ul>
        </div>
        <div class="label">alternative</div>
        <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
        <div class="bg"><img src="/assets/gallery/brands/item1.jpg" alt=" "></div>
      </div>
      
      <div class="item grid one-third alpha" data-url="/discover/by-brand/obey">
        <div class="tags">
          <ul>
            <li><a class="tag w" href="#">W</a></li>
            <li><a class="tag e" href="#">E</a></li>
            <!-- <li><a class="tag m" href="#">M</a></li> -->
            <li><a class="tag p" href="#">P</a></li>
          </ul>
        </div>
        <div class="label">obey</div>
        <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
        <div class="bg"><img src="/assets/gallery/brands/item2.jpg" alt=" "></div>
      </div>    
    </div>
    <!-- two end -->

    <div class="one clearfix">
      <div class="item grid one-third alpha" data-url="/discover/by-brand/levis">
        <div class="tags">
          <ul>
            <li><a class="tag w" href="#">W</a></li>
            <li><a class="tag e" href="#">E</a></li>
            <!-- <li><a class="tag m" href="#">M</a></li> -->
            <li><a class="tag p" href="#">P</a></li>
          </ul>
        </div>
        <div class="label">levis</div>
        <div class="overlay">
          <img src="/assets/gallery/item-logo.png" alt="">
        </div>
        <div class="bg">
          <img src="/assets/gallery/brands/levis.jpg" alt=" ">
        </div>
      </div>  
    </div>
    
    <!-- one end -->

  </div>
  <!-- subgrid-two-one end -->


  <div class="clearfix"></div>
  

  <div class="item grid one-third alpha" data-url="/discover/by-brand/nike">
    <div class="tags">
      <ul>
        <li><a class="tag w" href="#">W</a></li>
        <li><a class="tag e" href="#">E</a></li>
        <!-- <li><a class="tag m" href="#">M</a></li>
        <li><a class="tag p" href="#">P</a></li> -->
      </ul>
    </div>
    <div class="label">nike</div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/brands/item3.jpg" alt=" "></div>
  </div>


  
  <div class="item grid one-third" data-url="/discover/by-brand/edun">
    <div class="tags">
      <ul>
        <!-- <li><a class="tag w" href="#">W</a></li> -->
        <li><a class="tag e" href="#">E</a></li>
        <li><a class="tag m" href="#">M</a></li>
        <li><a class="tag p" href="#">P</a></li>
      </ul>
    </div>
    <div class="label">edun</div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/brands/item4.jpg" alt=" "></div>
  </div>
  
  <div class="item grid one-third omega" data-url="/discover/by-brand/industry-of-all-nations">
    <div class="tags">
      <ul>
        <li><a class="tag w" href="#">W</a></li>
        <!-- <li><a class="tag e" href="#">E</a></li>
        <li><a class="tag m" href="#">M</a></li> -->
        <li><a class="tag p" href="#">P</a></li>
      </ul>
    </div>
    <div class="label">industry of all nations</div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/brands/item5.jpg" alt=" "></div>
  </div>


  <div class="clearfix"></div>

  <div class="subgrid-one-two">

    <div class="one clearfix">
      <div class="item grid one-third alpha" style="position:absolute;top:0;left:0;"  data-url="/discover/by-brand/black-apple">
        <div class="tags">
          <ul>
            <li><a class="tag w" href="#">W</a></li>
            <li><a class="tag e" href="#">E</a></li>
            <!-- <li><a class="tag m" href="#">M</a></li> -->
            <li><a class="tag p" href="#">P</a></li>
          </ul>
        </div>
        <div class="label">black apple</div>
        <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
        <div class="bg"><img src="/assets/gallery/brands/blackapple.jpg" alt=" "></div>
      </div>  
    </div>
    <!-- one end -->

    <div class="two">
      <div class="item grid one-third alpha" data-url="/discover/by-brand/john-varvatos">
        <div class="tags">
          <ul>
            <li><a class="tag w" href="#">W</a></li>
            <li><a class="tag e" href="#">E</a></li>
            <!-- <li><a class="tag m" href="#">M</a></li> -->
            <li><a class="tag p" href="#">P</a></li>
          </ul>
        </div>
        <div class="label">john varvatos</div>
        <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
        <div class="bg"><img src="/assets/gallery/brands/item6.jpg" alt=" "></div>
      </div>
      
      <div class="item grid one-third alpha" data-url="/discover/by-brand/warby-parker">
        <div class="tags">
          <ul>
            <!-- <li><a class="tag w" href="#">W</a></li> -->
            <li><a class="tag e" href="#">E</a></li>
            <!-- <li><a class="tag m" href="#">M</a></li> -->
            <li><a class="tag p" href="#">P</a></li>
          </ul>
        </div>
        <div class="label">warby parker</div>
        <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
        <div class="bg"><img src="/assets/gallery/brands/item7.jpg" alt=" "></div>
      </div>  

    </div>
    <!-- two end -->    

  </div>
  <!-- subgrid-one-two end -->

  <div class="clearfix"></div>

</div>