<% content_for :after_scripts do %>
  
  <script>
    $(function(){
      CC.load_background("discover-background-gray.jpg");
    });
  </script>

<% end %>


<div id="breadcrum" class="container_24">
  <nav class="discover">
    <a href="/discover">Discover</a> /
    <a class="selected" href="/discover/by-initiative">By Initiative</a>
  </nav>
</div>

<div class="grid_24 alpha omega page-header">
  <h1>Discover by Initiative</h1>
</div>

<div id="intro-splash" class="clearfix">
  
  <div class="intro-section blue">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-water.png" alt="">
      <p>28% water savings with the latest energy trends stablished by the brands</p>
    </div>
    <div class="right-container">
      <p>Water conservation encompasses the policies, strategies and activities to manage fresh water as a sustainable resource to protect the water environment and to meet current and future human demand.</p>
      <p>Population, household size and growth and affluence all affect how much water is used.</p>
    </div>
  </div>
  
  <div class="intro-section yellow">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-energy.png" alt="">
      <p>48% less energy involved on elaboration processes and manufacturing</p>
    </div>
    <div class="right-container">
      <p>Efficient energy use, sometimes simply called energy efficiency, is the goal to reduce the amount of energy required to provide products and services.</p>
      <p> Compact fluorescent lights use one-third the energy of incandescent lights and may last 6 to 10 times longer. Improvements in energy efficiency are most often achieved by adopting a more efficient technology or production process.</p>
    </div>
  </div>

  <div class="intro-section orange">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-materials.png" alt="">
      <p>in average 3 new materials are used in new products in a year</p>
    </div>
    <div class="right-container">
      <p>3right - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis repellat labore et officia itaque sit delectus suscipit aliquid quisquam molestiae unde quasi voluptas nisi expedita excepturi exercitationem minima incidunt accusantium!</p>
    </div>
  </div>

  <div class="intro-section dark-blue">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-philantrophy.png" alt="">
      <p>16% destination, Africa</p>
      <p>7% destination, Asia</p>
    </div>
    <div class="right-container inverse">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis repellat labore et officia itaque sit delectus suscipit aliquid quisquam molestiae unde quasi voluptas nisi expedita excepturi exercitationem minima incidunt accusantium!</p>
    </div>
  </div>
</div>


<div class="grid_6 alpha filters">
  <a class="button button-filters blue" href="#">Water</a>
</div>
<div class="grid_6 filters">
  <a class="button button-filters yellow" href="#">Energy</a>
</div>
<div class="grid_6 filters">
  <a class="button disabled button-filters orange" href="#">Materials</a>
</div>
<div class="grid_6 filters last">
  <a class="button disabled button-filters darkblue" href="#">Philanthropy</a>
</div>

<div class="clearfix"></div>

<div class="content-grid clearfix">

  <div class="item grid one-third alpha">
    <div class="tags">
      <ul>
        <li><a class="tag w" href="#">W</a></li>
        <li><a class="tag e" href="#">E</a></li>
        <li><a class="tag m" href="#">M</a></li>
        <!-- <li><a class="tag p" href="#">P</a></li> -->
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/levis/waterless.jpg" alt=" "></div>
  </div>
  
  <div class="item grid one-third">
    <div class="tags">
      <ul>
        <li><a class="tag w" href="#">W</a></li>
        <li><a class="tag e" href="#">E</a></li>
        <!-- <li><a class="tag m" href="#">M</a></li> -->
        <li><a class="tag p" href="#">P</a></li>
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/levis/water2.jpg" alt=" "></div>
  </div>

  <div class="item grid one-third omega">
    <div class="tags">
      <ul>
        <li><a class="tag w" href="#">W</a></li>
        <li><a class="tag e" href="#">E</a></li>
        <!-- <li><a class="tag m" href="#">M</a></li>
        <li><a class="tag p" href="#">P</a></li> -->
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/levis/madehere.jpg" alt=" "></div>
  </div>


  
  <div class="item grid one-third alpha">
    <div class="tags">
      <ul>
        <!-- <li><a class="tag w" href="#">W</a></li> -->
        <li><a class="tag e" href="#">E</a></li>
        <li><a class="tag m" href="#">M</a></li>
        <li><a class="tag p" href="#">P</a></li>
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/lakers.jpg" alt=" "></div>
  </div>
  
  <div class="item grid one-third">
    <div class="tags">
      <ul>
        <li><a class="tag w" href="#">W</a></li>
        <!-- <li><a class="tag e" href="#">E</a></li>
        <li><a class="tag m" href="#">M</a></li> -->
        <li><a class="tag p" href="#">P</a></li>
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/levis/allineed.jpg" alt=" "></div>
  </div>

  <div class="item grid one-third omega">
    <div class="tags">
      <ul>
        <li><a class="tag w" href="#">W</a></li>
        <li><a class="tag e" href="#">E</a></li>
        <!-- <li><a class="tag m" href="#">M</a></li> -->
        <li><a class="tag p" href="#">P</a></li>
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/offthewall.jpg" alt=" "></div>
  </div>



  <div class="item grid one-third alpha">
    <div class="tags">
      <ul>
        <!-- <li><a class="tag w" href="#">W</a></li> -->
        <li><a class="tag e" href="#">E</a></li>
        <!-- <li><a class="tag m" href="#">M</a></li> -->
        <li><a class="tag p" href="#">P</a></li>
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/converse.jpg" alt=" "></div>
  </div>
  
  <div class="item grid one-third">
    <div class="tags">
      <ul>
        <li><a class="tag w" href="#">W</a></li>
        <!-- <li><a class="tag e" href="#">E</a></li>
        <li><a class="tag m" href="#">M</a></li>
        <li><a class="tag p" href="#">P</a></li> -->
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/plus.jpg" alt=" "></div>
  </div>

  <div class="item grid one-third omega">
    <div class="tags">
      <ul>
        <!-- <li><a class="tag w" href="#">W</a></li> -->
        <li><a class="tag e" href="#">E</a></li>
        <li><a class="tag m" href="#">M</a></li>
        <!-- <li><a class="tag p" href="#">P</a></li> -->
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/vans.jpg" alt=" "></div>
  </div>
  
  <div class="item grid one-third alpha">
    <div class="tags">
      <ul>
        <!-- <li><a class="tag w" href="#">W</a></li> -->
        <li><a class="tag e" href="#">E</a></li>
        <!-- <li><a class="tag m" href="#">M</a></li> -->
        <li><a class="tag p" href="#">P</a></li>
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/levis/copper.jpg" alt=" "></div>
  </div>
  
  <div class="item grid one-third">
    <div class="tags">
      <ul>
        <li><a class="tag w" href="#">W</a></li>
        <!-- <li><a class="tag e" href="#">E</a></li>
        <li><a class="tag m" href="#">M</a></li>
        <li><a class="tag p" href="#">P</a></li> -->
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/messi.jpg" alt=" "></div>
  </div>

  <div class="item grid one-third omega">
    <div class="tags">
      <ul>
        <!-- <li><a class="tag w" href="#">W</a></li> -->
        <li><a class="tag e" href="#">E</a></li>
        <!-- <li><a class="tag m" href="#">M</a></li> -->
        <!-- <li><a class="tag p" href="#">P</a></li> -->
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/ge.jpg" alt=" "></div>
  </div>

  <div class="item grid one-third alpha">
    <div class="tags">
      <ul>
        <!-- <li><a class="tag w" href="#">W</a></li> -->
        <li><a class="tag e" href="#">E</a></li>
        <!-- <li><a class="tag m" href="#">M</a></li> -->
        <li><a class="tag p" href="#">P</a></li>
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/ali.jpg" alt=" "></div>
  </div>
  
  <div class="item grid one-third">
    <div class="tags">
      <ul>
        <li><a class="tag w" href="#">W</a></li>
        <li><a class="tag e" href="#">E</a></li>
        <li><a class="tag m" href="#">M</a></li>
        <!-- <li><a class="tag p" href="#">P</a></li> -->
      </ul>
    </div>
    <div class="overlay"><img src="/assets/gallery/item-logo.png" alt=""></div>
    <div class="bg"><img src="/assets/gallery/initiatives/geospring.jpg" alt=" "></div>
  </div>


</div>