<% content_for :after_scripts do %>
  
  <script>
    $(function(){
      CC.load_background("discover-background.jpg");
    });
  </script>

<% end %>


<div id="breadcrum" class="container_24">
  <nav class="discover">
    <a href="/discover">Discover</a> /
    <a href="/discover">Intro</a>
  </nav>
</div>

<div class="grid_24 alpha omega page-header">
  <h1>Discover</h1>
</div>

<div id="intro-splash" class="clearfix">
  
  <div class="intro-section blue">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-water.png" alt="">
      <p>28% water savings with the latest energy trends stablished by the brands</p>
    </div>
    <div class="right-container">
      <p>Water conservation encompasses the policies, strategies and activities to manage fresh water as a sustainable resource to protect the water environment and to meet current and future human demand.</p>
      <p>Population, household size and growth and affluence all affect how much water is used.</p>
    </div>
  </div>
  
  <div class="intro-section yellow">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-energy.png" alt="">
      <p>48% less energy involved on elaboration processes and manufacturing</p>
    </div>
    <div class="right-container">
      <p>Efficient energy use, sometimes simply called energy efficiency, is the goal to reduce the amount of energy required to provide products and services.</p>
      <p> Compact fluorescent lights use one-third the energy of incandescent lights and may last 6 to 10 times longer. Improvements in energy efficiency are most often achieved by adopting a more efficient technology or production process.</p>
    </div>
  </div>

  <div class="intro-section orange">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-materials.png" alt="">
      <p>in average 3 new materials are used in new products in a year</p>
    </div>
    <div class="right-container">
      <p>3right - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis repellat labore et officia itaque sit delectus suscipit aliquid quisquam molestiae unde quasi voluptas nisi expedita excepturi exercitationem minima incidunt accusantium!</p>
    </div>
  </div>

  <div class="intro-section dark-blue">
    <div class="left-container">
      <a href="#" class="more">MORE</a>
      <img src="/assets/temp-philantrophy.png" alt="">
      <p>16% destination, Africa</p>
      <p>7% destination, Asia</p>
    </div>
    <div class="right-container inverse">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis repellat labore et officia itaque sit delectus suscipit aliquid quisquam molestiae unde quasi voluptas nisi expedita excepturi exercitationem minima incidunt accusantium!</p>
    </div>
  </div>
</div>



<div class="grid_12 alpha">
  <a class="button button-big" href="/discover/by-brand">Discover by Brand<span>f</span></a>
</div>

<div class="grid_12 omega last">
  <a class="button button-big" href="/discover/by-initiative">Discover by Initiative<span>f</span></a>
</div>